.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/tidyvpc_discont_inv
data-raw
.*.swp
*.bak
*.tmp
*.temp
#doc
Meta
doc
Rplots.pdf
vignettes/Two-Cmpt*/
vignettes/GEN[0-9]*/
vignettes/poster_figs/
.positai
